<div>
    <div ng-if="!classicLogin">
        <p ng-if="!bindProfile">Выберите удобный для вас способ</p>
        <p ng-if="bindProfile">Свяжите ваш <strong>временный профиль</strong> с аккаунтом социальной сети или укажите email и пароль, чтобы сделать его постоянным.</p>
    </div>

    <hr class="seperator" style="margin-bottom: 10px">

    <div class="row">
        <div class="span6" ng-if="!classicLogin" style="margin-bottom: 10px">
            <h3>Через аккаунт в социальной сети</h3>
            <div id="{{uloginId}}" data-ulogin="display=panel;fields=first_name;optional=last_name,email,photo,photo_big,sex;providers=facebook,vkontakte,google,twitter,openid;hidden=linkedin,googleplus,yandex,mailru,odnoklassniki;redirect_uri=;callback=authCallback"></div>
        </div>
        <div class="span6">
            <h3 ng-if="!classicLogin">Классический</h3>
            <h3 ng-if="classicLogin">Вход/регистрация</h3>
            <form name="classicEnterForm" style="max-width: 300px;">
                <input class="span4" type="email"
                       placeholder="email"
                       ng-model="enter.email"
                       required="true"
                >
                <input class="span4" type="password"
                       placeholder="пароль (мин. 6 символов)"
                       ng-model="enter.password"
                       required="true"
                       ng-minlength="6"
                >
                <div style="color: red">{{enter.submitError}}</div>
                <button ng-click="submitEnterForm()" class="btn has-spinner" ng-class="enter.submitInProgress ? 'active' : ''" type="button" ng-disabled="!classicEnterForm.$valid">
                    <span class="spinner"><i class="icon-spin icon-refresh"></i></span>
                    Отправить
                </button>
            </form>
        </div>
    </div>
</div>