<div class="widget">
    <h3 class="widget-title">Последние комментарии</h3>
    <div class="widget-content clearfix">
        <ul class="list-comments list-widget unstyled">
            <li ng-repeat="comment in comments">
                <a href="#/users/{{comment.user.id}}" class="comment-avatar pull-left">
                    <img ng-src="{{comment.user.avatar}}" width="50" />
                </a>
                <div class="comment-block">
                    <div class="comment-author">
                        <a href="#/users/{{comment.user.id}}" class="comment-author">{{comment.user.name + (comment.user.lastName ? ' ' + comment.user.lastName : '')}}</a> на <a href="#/ideas/{{comment.idea.id}}" class="comment-post">{{comment.idea.title.substr(0, 64) + '...'}}</a>
                    </div>
                    <div class="comment-text">
                        {{comment.text}}
                    </div>
                    <div class="muted">{{comment.createdAt}}</div>
                </div>
            </li>
        </ul>
    </div>
</div>