<div class="splash">
    <div class="container">
        <div class="headline">
            <h1>Добро пожаловать на CodeIdeas!</h1>
            <p>CodeIdeas - это проект для обмена идеями, связанными с программной разработкой.</p>
            <p>
                У CodeIdeas два основных варианта использования: во-первых, поиск новых идей по интересующим
                тематикам, а во-вторых - получение обратной связи от сообщества по собственным идеям.
            </p>
        </div>
    </div>
</div><!--/.splash -->

<div class="content">

    <div class="approach container">
        <div class="headline">
            <h2>Какого рода идеи живут на CodeIdeas</h2>
            <p>
                Все идеи так или иначе должны быть связаны с разработкой программного обеспечения.
                Идеи могут описывать как готовые приложения или сервисы, так и отдельные части программ
                или алгоритмы. Основная черта каждой идеи на CodeIdeas - ее конкретность и завершенность.
                Идеи, имеющие расплывчатые формулировки, вроде "Сделать социальную сеть", недопустимы.
                Идея должна иметь название, описание, указание конкретной пользы, которая будет получена
                от ее реализации и один или несколько тегов, относящих ее к различным категориям.
            </p>
        </div>
        <div class="headline">
            <h2>Как добавить свою идею</h2>
            <p>
                Для добавления своей идеи достаточно нажать кнопку <a href="#/new-idea">"Добавить идею"</a> в верхнем правом углу интерфейса.
                Если у вас нет аккаунта, специальная регистрация на сервисе не требуется. После успешного добавления идеи для вас будет создан временный
                профиль, который при желании можно связать с профилем в одной из предлагаемых социальных сетей, сделав
                его постоянным.
            </p>
        </div>
        <div class="headline">
            <h2>Профиль пользователя и рейтинг</h2>
            <p>
                После регистрации на сервисе, каждый пользователь получает небольшое количество очков рейтинга. Рейтинг
                является показателем активности и авторитетности пользователя. В будущем рейтинг будет влиять на возможность
                получения доступа к ограниченным функциям сервиса CodeIdeas. Рейтинг можно заработать, создавая новые идеи,
                которые будут положительно оценены сообществом. За каждый лайк или отметку идеи, как "Хочу реализовать",
                автору идеи будут присуждаться очки рейтинга. Еще одним источником рейтинга являются новые теги. Если
                пользователь создал тег, который оказался востребованным в сообществе, то каждое новое использование
                этого тега другими участниками, будет приносить создателю тега несколько очков рейтинга.
            </p>
        </div>
        <div class="headline">
            <h2>"Нравится идея" и "Хочу реализовать"</h2>
            <p>
                Имея профиль пользователя на сервисе, можно выражать свою точку зрения в отношении любой из идей.
                В левом углу каждой идеи есть звездочка, нажатие на которую позволяет сказать "Мне нравится эта идея"
                и добавить ее в избранное. Все понравившиеся идеи затем можно просмотреть в своем профиле. Также
                существует возможность указать, что вы хотите попробовать реализовать идею. В будущем вокруг каждой
                идеи можно будет создавать кооперации желающих ее реализовать с целью взаимопомощи. В развернутом
                виде свои мысли по поводу любой из идей можно высказать в комментариях.
            </p>
        </div>
        <div class="headline">
            <h2>Планы на будущее</h2>
            <p>
                Во-первых, на сервисе появится много интересных идей и креативно-мыслящее сообщество.
                Во-вторых, появится возможность указывать свои реализации идей, чтобы обратную связь можно
                было получить не только о самих идеях, но и о их реальных воплощениях.
                В-третьих, появятся удобные инструменты взаимодействия между участниками сервиса, позволяющие
                объединяться в группы единомышленников при работе над идеями.
            </p>
        </div>
    </div><!--/.projects -->

</div><!--/.content -->