<div class="splash front" ng-if="!hideSplash.welcome">
    <div class="container align-center">
        <div class="headline">
            <h1>CodeIdeas - идеи для программирования</h1>
            <p>Делитесь интересными идеями, просматривайте идеи других пользователей, комментируйте и оценивайте идеи, повышая свой рейтинг.</p>
        </div>
    </div>
</div><!--/.splash -->

<div class="content">

    <ideas-list></ideas-list>

</div><!--/.content -->