<div class="content">

    <div class="blog container">
        <div class="row">
            <div class="span8">
                <idea></idea>
            </div>
            <div class="span4">
                <div class="sidebar">
                    <popular-tags></popular-tags>

                    <latest-comments></latest-comments>
                </div>
                <!--/.sidebar -->
            </div>
        </div>
    </div>
    <!--/. -->

</div><!--/.content -->