<div class="splash front">
    <div class="container align-center">
        <div class="headline">
            <h1>Добавление новой идеи</h1>
            <p>Поделитесь своей идеей с сообществом и сделайте мир чуточку лучше.</p>
        </div>
    </div>
</div><!--/.splash -->

<div class="content">

    <new-idea-form></new-idea-form>

</div><!--/.content -->