<div class="splash front">
    <div class="container align-center">
        <div class="headline">
            <h1>Регистрация</h1>
        </div>
    </div>
</div><!--/.splash -->

<div class="content">

    <div class="container">
        <enter case="register"></enter>
    </div>
    <!--/. -->

</div><!--/.content -->