<div class="splash front">
    <div class="container align-center">
        <div class="headline">
            <h1>Идеи пользователя <a href="#/users/{{user.id}}">{{user.name + (user.lastName ? ' ' + user.lastName : '')}}</a></h1>
        </div>
    </div>
</div><!--/.splash -->

<div class="content">

    <ideas-list user-ideas="true"></ideas-list>

</div><!--/.content -->