<div class="splash front" ng-if="!hideSplash.welcome">
    <div class="container align-center">
        <div class="headline">
            <h1>Сообщество пользователей CodeIdeas</h1>
            <p>Все самые креативные люди планеты, собранные в одном месте.</p>
        </div>
    </div>
</div><!--/.splash -->

<div class="content">

    <users-list></users-list>

</div><!--/.content -->