body {
    min-width: 240px;
}

.menu__profile-info {
    display: inline-block;
    padding: 2px 5px 2px 0;
}

.menu__profile-info:hover {
    background: #444141;
    cursor: pointer;
}

.menu__logout, .menu__logout i {
    cursor: pointer;
}

.spinner {
    display: inline-block;
    opacity: 0;
    max-width: 0;

    -webkit-transition: opacity 0.25s, max-width 0.45s;
    -moz-transition: opacity 0.25s, max-width 0.45s;
    -o-transition: opacity 0.25s, max-width 0.45s;
    transition: opacity 0.25s, max-width 0.45s; /* Duration fixed since we animate additional hidden width */
}

.has-spinner.active {
    cursor:progress;
}

.has-spinner.active .spinner {
    opacity: 1;
    max-width: 50px; /* More than it will ever come, notice that this affects on animation duration */
}

a#barometer_tab {
    left: auto !important;
    right: 0 !important;
    top: 30% !important;
}