<div class="new-idea-form container">
    <form name="newIdeaForm" class="form-horizontal" novalidate>
        <div class="row">
            <div class="span8 offset2">
                <div class="row">
                    <div class="span8">
                        <input tabindex="1" type="text" name="title" placeholder="Заголовок (16-128 символов)" class="span8" ng-model="newIdea.title" required="true" ng-minlength="16" ng-maxlength="128">
                    </div>
                    <span ng-class="newIdeaForm.title.$error.minlength || newIdeaForm.title.$error.maxlength ? 'new-idea-form__show-input-hint' : ''" class="new-idea-form__input-hint span4">
                        от 16 до 128 символов
                    </span>
                </div>
                <div class="row">
                    <div class="span8">
                        <textarea tabindex="2" name="description" class="span8" rows="10" placeholder="Описание (не менее 64 символов)" ng-model="newIdea.description" required="true" ng-minlength="64" ng-maxlength="65536"></textarea>
                    </div>
                    <span ng-class="newIdeaForm.description.$error.minlength || newIdeaForm.description.$error.maxlength ? 'new-idea-form__show-input-hint' : ''" class="new-idea-form__input-hint span4">
                        от 64 символов
                    </span>
                </div>
                <div class="row">
                    <div class="span8">
                        <textarea tabindex="3" name="profit" class="span8" rows="4" placeholder="Профит (не менее 64 символов)" ng-model="newIdea.profit" required="true" ng-minlength="64" ng-maxlength="65536"></textarea>
                    </div>
                    <span ng-class="newIdeaForm.profit.$error.minlength || newIdeaForm.profit.$error.maxlength ? 'new-idea-form__show-input-hint' : ''" class="new-idea-form__input-hint span4">
                        от 64 символов
                    </span>
                </div>
                <div class="row">
                    <tags-input tabindex="4" placeholder="Теги (на английском)" class="span4" ng-model="newIdea.tags"
                                ng-required="true"
                                min-length="1"
                                max-length="24"
                                min-tags="1"
                                max-tags="5"
                                allow-leftover-text="true"
                                add-on-space="true"
                                add-on-comma="true"
                                allowed-tags-pattern="^[a-zA-Z\d$.\-+#]{1,24}$"
                                name="tags"
                            >
                        <auto-complete source="loadTags($query)" min-length="1"></auto-complete>
                    </tags-input>
                    <span ng-class="newIdeaForm.tags.$error.minTags || newIdeaForm.tags.$error.maxTags ? 'new-idea-form__show-input-hint' : ''" class="new-idea-form__input-hint span4">
                        1-5 тегов
                    </span>
                </div>
                <div class="row">
                    <div class="span4">
                        <label>
                            Приблизительное время на разработку
                            <select tabindex="5" class="span4" ng-model="newIdea.devTime">
                                <option value="hours">Несколько часов</option>
                                <option value="days">Несколько дней</option>
                                <option value="weeks">Несколько недель</option>
                                <option value="months">Несколько месяцев</option>
                                <option value="geHalfOfYear">Полгода и более</option>
                            </select>
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="span4">
                        <label class="checkbox">
                            <input tabindex="6" type="checkbox" ng-model="newIdea.teamRequired"><i class="icon-group"></i>&nbsp;понадобится командная разработка
                        </label>
                    </div>
                </div>
                <div class="row">
                    <span ng-if="!!errorMsg" class="pull-left span16 alert alert-error">
                        {{errorMsg}}
                    </span>
                    <button tabindex="7"
                            type="submit"
                            class="has-spinner btn btn-large pull-right"
                            ng-class="addition ? 'active' : ''"
                            ng-click="addIdea()"
                            ng-disabled="!newIdeaForm.$valid || addition"
                    >
                        <span class="spinner"><i class="icon-spin icon-refresh"></i></span>{{newIdea.id ? 'Сохранить' : 'Добавить'}}
                    </button>
                </div>
            </div>
        </div>
    </form>
</div>