.users-list__item {
    padding-top: 25px;
    width: 48%;
    float: left;
    margin-left: 1%;
    min-width: 230px;
    min-height: 100px;
    overflow: hidden;
    border-bottom: 1px dotted #ddd;
}

.users-list__item__avatar {
    margin-right: 10px;
}

.users-list__item__registered_at {
    font-size: smaller;
    white-space: nowrap;
}

.users-list__navigation {
    border: none !important;
    margin-top: 15px !important;
    padding-top: 15px !important;
}