<div class="blog container">
    <div class="row">
        <div class="span8">

            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li ng-repeat="tab in tabs" ng-class="tab.active ? 'active' : ''">
                        <a href="javascript: void 0" ng-click="activateTab(tab)" data-toggle="tab">{{tab.text}}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div ng-repeat="tab in tabs" class="tab-pane" ng-class="tab.active ? 'active' : ''">

                        <div ng-show="tab.active" class="blog-list">
                            <div style="overflow: hidden">
                                <div ng-repeat="user in users" class="users-list__item">
                                    <a href="#/users/{{user.id}}" class="users-list__item__avatar comment-avatar pull-left">
                                        <img ng-src="{{user.avatar}}" width="70px" />
                                    </a>
                                    <div class="comment-block">
                                        <div class="comment-author">
                                            <a href="#/users/{{user.id}}" class="comment-author">
                                                {{user.name + (user.lastName ? ' ' + user.lastName : '')}}
                                            </a>
                                        </div>
                                        <div>
                                            <div class="users-list__item__registered_at muted">На сайте {{registeredAt(user)}}</div>
                                            <div>
                                                <span>Идей: <a href="#/users/{{user.id}}/ideas">{{user.ideasCount}}</a></span>
                                                <span>Рейтинг: {{user.rating}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div><!--/.blog -->
                            </div>

                            <div ng-if="hasPrev || hasNext" class="blog-navigation clearfix users-list__navigation">
                                <a href="javascript: void 0" ng-click="loadMore('prev')" class="control pull-left" ng-if="hasPrev">
                                    <i class="icon-double-angle-left"></i>
                                    Предудущие</a>
                                <a href="javascript: void 0" ng-click="loadMore('next')" class="control pull-right" ng-if="hasNext">
                                    Следующие
                                    <i class="icon-double-angle-right"></i>
                                </a>
                            </div>
                        </div><!--/.blog-list -->

                    </div>
                </div>
            </div>

        </div>

        <div class="span4">
            <div class="sidebar">
                <latest-ideas></latest-ideas>
            </div><!--/.sidebar -->
        </div>
    </div>
</div>