<!DOCTYPE html>
<html lang="en" ng-app="ciApp">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>CodeIdeas - идеи для программирования</title>

    <meta content="CodeIdeas - идеи для программирования" property="og:title" />
    <meta content="Сервис обмена идеями, связанными с разработкой программного обеспечения." property="og:description" />
    <meta content="/" property="og:url" />
    <meta content="/img/logo.png" property="og:image" />

    <meta content="CodeIdeas - идеи для программирования" name="title" />
    <meta content="Сервис обмена идеями, связанными с разработкой программного обеспечения." name="description" />
    <link rel="image_src" href="/img/logo.png" />

    <!--[if lte IE 8]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->


    <!-- BOOTSTRAPS -->
    <link href="css/bootstrap/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="css/bootstrap/bootstrap-responsive.min.css" rel="stylesheet" media="screen">

    <link href="css/styler/theme.css" rel="stylesheet">
    <link href="css/styler/theme-responsive-767.css" rel="stylesheet">
    <link href="css/styler/theme-responsive-768-979.css" rel="stylesheet">
    <link href="img/icons/css/font-awesome.css" rel="stylesheet">

    <link rel="stylesheet" href="lib/bower/ng-tags-input/ng-tags-input.css">

    <link href="css/app.css" rel="stylesheet" media="screen">
    <link href="js/directives/ideasList/ideas-list.css" rel="stylesheet" media="screen">
    <link href="js/directives/ideaShort/idea-short.css" rel="stylesheet" media="screen">
    <link href="js/directives/newIdeaForm/new-idea-form.css" rel="stylesheet" media="screen">
    <link href="js/directives/tags/tags.css" rel="stylesheet" media="screen">
    <link href="js/directives/usersList/users-list.css" rel="stylesheet" media="screen">
    <link href="js/directives/splashNotify/splash-notify.css" rel="stylesheet" media="screen">
    <link href="js/directives/profile/profile.css" rel="stylesheet" media="screen">
    <link href="js/directives/userComments/user-comments.css" rel="stylesheet" media="screen">
</head>
<body ng-controller="MainCtrl">
<div class="header">
    <div class="container">

        <div class="branding clearfix">
            <h1 class="logo pull-left">
                <a href="#/"><i class="icon-info-sign"></i>&nbsp;CodeIdeas</a>
            </h1>

            <a class="btn btn-inverse nav-control hidden-desktop" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <div ng-if="!!getUser()" class="form-search pull-right visible-desktop" style="white-space: nowrap;" title="{{getUser() ? (getUser().name + (getUser().lastName ? ' ' + getUser().lastName : '') + ' (это Вы)') : ''}}">
                <a href="#/users/{{getUser().id}}" style="color: inherit;">
                    <div class="menu__profile-info">
                        <img ng-src="{{getUser().avatar || 'http://www.avatarpro.biz/avatar?s=24'}}" style="width:24px;height:24px" />
                        <span>&nbsp;{{getUser().rating}}&nbsp;очков</span>
                    </div>
                </a>
                <a href="javascript: void 0" ng-click="logout()" class="menu__logout"><i class="icon-signout" title="Выход"></i></a>
            </div>

            <ul class="nav nav-collapse collapse pull-right">
                <li ng-class="needHighlightMenuItem('ideas')">
                    <a href="#/ideas">Идеи</a>
                </li>
                <li ng-class="needHighlightMenuItem('blog')">
                    <a href="#/users">Пользователи</a>
                </li>
                <li ng-class="needHighlightMenuItem('about')">
                    <a href="#/about">О проекте</a>
                </li>
                <li ng-if="!getUser()" ng-class="needHighlightMenuItem('login')">
                    <a href="#/login">Вход</a>
                </li>
                <li ng-if="!getUser()" ng-class="needHighlightMenuItem('register')">
                    <a href="#/register">Регистрация</a>
                </li>
                <li ng-if="!!getUser()" class="search hidden-desktop" title="{{getUser() ? (getUser().name + (getUser().lastName ? ' ' + getUser().lastName : '') + ' (это Вы)') : ''}}">
                    <div>
                        <a href="#/users/{{getUser().id}}" style="color: inherit;">
                            <div class="menu__profile-info">
                                <img ng-src="{{getUser().avatar || 'http://www.avatarpro.biz/avatar?s=24'}}" style="width:24px;height:24px" />
                                <span>&nbsp;{{getUser().rating}}&nbsp;очков</span>
                            </div>
                        </a>
                        <a href="javascript: void 0" ng-click="logout()" class="menu__logout"><i class="icon-signout" title="Выход"></i></a>
                    </div>
                </li>
            </ul><!--/.nav -->
        </div><!--/.branding -->

    </div>
</div><!--/.header -->

<div style="overflow: hidden" ng-if="canAddNewIdea()">
    <div class="container" style="margin-top: 10px; margin-bottom: 10px;">
        <a href="#new-idea" class="btn btn-orange pull-right">Добавить идею</a>
    </div>
</div>

<div class="container">
    <splash-notify ng-if="showSplashNotify.bindUsers" tmp-user-hint="true"></splash-notify>
</div>
<div ng-view></div>

<div class="footer">
    <div class="container">
        <div class="copyright clearfix">
            <div class="pluso pull-right" data-background="transparent" data-options="small,square,line,horizontal,counter,theme=05" data-services="vkontakte,facebook,twitter,linkedin,google" data-user="766140768"></div>
            &copy; 2014 <a href="mailto:mail4ostrovski@gmail.com">Ostrovski</a>
        </div>
    </div><!--/.copyright -->
</div><!--/.footer -->


<!-- SPACE FOR SCRIPTS -->
<script src="lib/jquery.min.js"></script>
<script src="lib/bootstrap/bootstrap.min.js"></script>
<script src="lib/bower/lodash/dist/lodash.min.js"></script>
<script src="lib/bower/moment/min/moment-with-langs.min.js"></script>
<!-- <script src="lib/bower/moment/lang/ru.js"></script> -->
<!-- In production use: <script src="//ajax.googleapis.com/ajax/libs/angularjs/x.x.x/angular.min.js"></script> -->
<script src="lib/bower/angular/angular.min.js"></script>
<script src="lib/bower/angular-resource/angular-resource.min.js"></script>
<script src="lib/bower/angular-route/angular-route.min.js"></script>
<script src="lib/bower/ng-tags-input/ng-tags-input.min.js"></script>

<script src="js/misc/pluralForm.js"></script>

<script src="js/app.js"></script>
<script src="js/controllers.js"></script>

<script src="js/services.js"></script>
<script src="js/services/auth.js"></script>
<script src="js/services/resources/Comment.js"></script>
<script src="js/services/resources/Idea.js"></script>
<script src="js/services/resources/Tag.js"></script>
<script src="js/services/resources/User.js"></script>
<script src="js/services/resources/RatingLog.js"></script>

<script src="js/directives.js"></script>
<script src="js/directives/enter/enter.js"></script>
<script src="js/directives/ideaShort/ideaShort.js"></script>
<script src="js/directives/ideaFooter/ideaFooter.js"></script>
<script src="js/directives/ideaComments/ideaComments.js"></script>
<script src="js/directives/idea/idea.js"></script>
<script src="js/directives/newIdeaForm/newIdeaForm.js"></script>
<script src="js/directives/ideasList/ideasList.js"></script>
<script src="js/directives/tags/tags.js"></script>
<script src="js/directives/popularTags/popularTags.js"></script>
<script src="js/directives/latestComments/latestComments.js"></script>
<script src="js/directives/latestIdeas/latestIdeas.js"></script>
<script src="js/directives/usersList/usersList.js"></script>
<script src="js/directives/splashNotify/splashNotify.js"></script>
<script src="js/directives/profile/profile.js"></script>
<script src="js/directives/userIdeas/userIdeas.js"></script>
<script src="js/directives/userTags/userTags.js"></script>
<script src="js/directives/userComments/userComments.js"></script>
<script src="js/directives/userRatingLog/userRatingLog.js"></script>

<script>
if (-1 === window.location.href.indexOf('.local')) {
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-52384362-1', 'auto');
} else {
    window.ga = function() {}
}
</script>

<script type="text/javascript">(function() {
    if (window.pluso)if (typeof window.pluso.start == "function") return;
    if (window.ifpluso==undefined) { window.ifpluso = 1;
        var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
        s.type = 'text/javascript'; s.charset='UTF-8'; s.async = true;
        s.src = ('https:' == window.location.protocol ? 'https' : 'http')  + '://share.pluso.ru/pluso-like.js';
        var h=d[g]('body')[0];
        h.appendChild(s);
    }})();
</script>

<!-- BEGIN JIVOSITE CODE {literal} -->
<script type='text/javascript'>
    (function(){ var widget_id = '169374';
        var s = document.createElement('script'); s.type = 'text/javascript'; s.async = true; s.src = '//code.jivosite.com/script/widget/'+widget_id; var ss = document.getElementsByTagName('script')[0]; ss.parentNode.insertBefore(s, ss);})();
</script>
<!-- {/literal} END JIVOSITE CODE -->

</body>
</html>
