.splash-notify {
    background: #3C3939;
    margin-bottom: 10px;
    border: 1px solid;
    margin-left: 0 !important;;
    margin-right: 0 !important;;
}

.splash-notify__title {
    font-size: large !important;
}

.splash-notify__content {
    padding: 0 20px;
}