<div class="splash front splash-notify">
    <div class="container align-center">
        <div ng-if="tmpUserHint" class="splash-notify__content headline">
            <a href="javascript: void 0" ng-click="closeMe()" style="float: right;font-size: larger;"><i class="icon-remove"></i></a>
            <h1 class="splash-notify__title">Поздравляем! Вы стали активным участником сообщества CodeIdeas.</h1>
            <p style="margin-bottom: 25px;">
                Для вас был создан <strong>временный аккаунт</strong>.
                Не упустите возможность стать известным благодаря вашим идеям,
                свяжите этот аккаунт с одним из профилей социальных сетей или
                воспользуйтесь <a href="#/login/classic">классической формой авторизации</a>.
            </p>

            <script id="ulogin-callback" src="js/misc/authCallback.js"></script>
            <script id="ulogin-script" src="//ulogin.ru/js/ulogin.js"></script>
            <div id="uLogin" data-ulogin="display=panel;fields=first_name;optional=last_name,email,photo,photo_big,sex;providers=facebook,vkontakte,google,twitter,openid;hidden=linkedin,googleplus,yandex,mailru,odnoklassniki;redirect_uri=;callback=authCallback"></div>

            <p>
                Время жизни неподтвержденного аккаунта ограничено сессией вашего браузера.

                Если у вас уже есть аккаунт на CodeIdeas, достаточно авторизоваться,
                и все созданные идеи будут перенесены в существующий профиль.
            </p>
        </div>
    </div>
</div>