@media (max-width: 767px) {
    .align-center, .headline {
        text-align: left
    }

    .header .nav .dropdown-menu {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none
    }

    .splash, .content {
        margin: 0 -20px;
        padding: 0 20px
    }

    .splash {
        padding: 20px 20px
    }

    .splash h1 {
        font-size: 26px
    }

    .content .container {
        padding: 60px 0
    }

    .content hr.seperator {
        background: #ddd
    }

    .features .box {
        overflow: hidden
    }

    .features .feature + .feature {
        margin-top: 30px
    }

    .features .feature-icon {
        float: left;
        margin: 0;
        font-size: 80px
    }

    .features .feature-brief {
        margin: 0 0 0 130px
    }

    .clients .people {
        padding-left: 130px
    }

    .companies .span2 {
        float: left !important;
        width: 50% !important
    }

    .companies a {
        border: 0 !important
    }

    .approach .row + .row, .approach .span4 + .span4 {
        margin-top: 30px
    }

    .members .member + .member {
        margin-top: 50px
    }

    .members .member-photo {
        float: left;
        width: 120px;
        height: 120px
    }

    .members .member-details {
        margin: 0 0 0 150px
    }

    .new-idea-form .row > div + div {
        margin-top: 20px
    }

    .contact-map {
        margin: 0 -20px
    }

    .blog-list .blog-thumb img {
        width: 150px;
        height: auto
    }

    .sidebar {
        border-top: 5px solid #999;
        padding-top: 50px;
        margin-top: 50px
    }

    .footer {
        padding-right: 20px;
        padding-left: 20px;
        margin: 0 -20px
    }

    .footer .nav {
        display: block;
        float: none
    }

    .footer .nav li {
        display: block;
        margin: 0 0 30px 0
    }

    .footer .copyright, .footer .module + .module {
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        margin-top: 35px;
        padding-top: 35px
    }
}