<div class="idea-footer">
    <div ng-if="idea.tags && idea.tags.length" class="ideas-list__idea-tags">
        <tags tags="idea.tags"></tags>
    </div>
    <a href="javascript: void 0" ng-click="wantToImplement()"
       ng-disabled="idea.isWantedToImpl"
       class="btn blog-proceed"
       title="{{wantToImplementTitle()}}"
    >
        {{wantToImplementText()}}
    </a>
    <a ng-if="canEdit()" href="#/ideas/{{idea.id}}/edit" class="btn blog-proceed">
        <i class="icon-edit"></i>&nbsp;Редактировать
    </a>
    <a ng-if="isListItem" href="#/ideas/{{idea.id}}?scrollTo=comments" class="btn blog-comments">
        <i class="icon-comments"></i>
        Комментарии ({{idea.commentsCount}})
    </a>
</div>