<div class="profile__rating-history">
    <div ng-repeat="r in ratingLog" style="display: table-row">
        <span class="profile__rating__value">{{(r.amount > 0 ? '+' : '-') + r.amount}}</span>
        <div style="display: table-cell">&nbsp;{{eventText(r)}}</div>
    </div>
    <div ng-if="!ratingLog.length && loaded">Пока никакой активности</div>
</div>