.profile__no_such_user {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.profile__avatar {
    margin: 0 10px 10px 0;
    width: 80px;
    height: 80px;
    display: inline-block;
    vertical-align: top;
}

.profile__info {
    white-space: nowrap;
}

.profile__info__rating {
    text-align: center;
    font-size: large;
    padding-top: 5px;
}

.profile__primary-info {
    display: inline-block;
}

.profile__primary-info__name {
    margin: 0;
}

.profile__primary-info__registered {
    font-size: smaller;
    vertical-align: super;
}

.profile__row {
    margin-top: 0 !important;
}

.profile__tile {
    margin-bottom: 60px;
    min-height: 80px;
}

.profile__tile-title {
    margin: 0;
    text-transform: uppercase;
}

.profile__rating__value {
    color: green;
    font-weight: bolder;
}

.profile__rating-history .profile__rating__value {
    display: table-cell;
}

.profile__tile__seperator {
    margin-bottom: 15px !important;
}