<div>
    <div class="profile__no_such_user" ng-if="!user">
        <p>Такого пользователя не существует.</p>
        <br />
        <a href="#/users">Список пользователей</a>
    </div>

    <div ng-if="user">
        <div class="profile__row row">
            <div class="span6 profile__tile">
                <p class="profile__tile-title muted">Пользователь</p>
                <hr class="profile__tile__seperator seperator" />
                <div class="profile__info">
                    <img class="profile__avatar" ng-src="{{user.avatar}}" />
                    <div class="profile__primary-info">
                        <h3 class="profile__primary-info__name">{{user.name + (user.lastName ? ' ' + user.lastName : '')}}</h3>
                        <span class="profile__primary-info__registered">зарегистрирован {{registeredAt()}}</span>
                        <div class="profile__info__rating">
                            <span class="profile__rating__value">{{user.rating}}</span>&nbsp;очков
                        </div>
                    </div>
                </div>
            </div>
            <div class="span6 profile__tile">
                <p class="profile__tile-title muted">Рейтингометр</p>
                <hr class="profile__tile__seperator seperator" />
                <user-rating-log user="user"></user-rating-log>
            </div>
        </div>

        <enter ng-if="showBindForm" case="bind-profile"></enter>
        <hr ng-if="showBindForm" class="seperator" style="margin: 10px 0 40px 0;">

        <div class="profile__row row">
            <div class="span6 profile__tile">
                <p class="profile__tile-title muted">Идеи</p>
                <hr class="profile__tile__seperator seperator" />
                <user-ideas user="user"></user-ideas>
            </div>

            <div class="span6 profile__tile">
                <p class="profile__tile-title muted">Теги</p>
                <hr class="profile__tile__seperator seperator" />
                <user-tags user="user"></user-tags>
            </div>
        </div>

        <div class="profile__row row">
            <div class="span6 profile__tile">
                <p class="profile__tile-title muted">Комментарии</p>
                <hr class="profile__tile__seperator seperator" />
                <user-comments user="user"></user-comments>
            </div>
        </div>
    </div>
</div>