<div>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li ng-repeat="tab in tabs" ng-class="tab.active ? 'active' : ''">
                <a href="javascript: void 0" ng-click="activateTab(tab)" data-toggle="tab">{{tab.text}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div ng-repeat="tab in tabs" class="tab-pane" ng-class="tab.active ? 'active' : ''">
                <div ng-show="tab.active">
                    <tags ng-if="tags.length" tags="tags"></tags>
                    <div ng-if="!tags.length && loaded">Тегов нет</div>
                </div>
            </div>
        </div>
    </div>
</div>
