<div class="idea-short__body" ng-class="isUltraShort ? 'ultra-short' : (isUltraUltraShort ? 'ultra-ultra-short' : '')">
    <div class="idea-short__likes" title="{{idea.likesCount ?  ('нравится ' + idea.likesCount + ' чел.') : 'пока никто не оценил'}}">
        <i ng-if="!isUltraUltraShort" ng-class="idea.isLiked ? 'icon-star' : 'icon-star-empty'" class="idea-short__likes__star" ng-click="like()"></i>
        <a ng-if="!isUltraShort && !isUltraUltraShort" href="javascript: void 0" ng-click="like()">Нравится<br/>{{idea.likesCount}}&nbsp;чел.</a>
        <span ng-if="isUltraUltraShort" class="idea-short__likes__count">{{(idea.likesCount ? '+' : '') + idea.likesCount}}</span>
    </div>
    <div class="idea-short__content">
        <h2 ng-if="isListItem" class="idea-short__body__title blog-title"><a href="#/ideas/{{idea.id}}">{{idea.title}}</a></h2>
        <h2 ng-if="!isListItem" class="idea-short__body__title blog-title">{{idea.title}}</h2>

        <div class="blog-meta" ng-if="!isUltraShort && !isUltraUltraShort">
            <span class="blog-date">
                <i class="icon-calendar"></i>
                {{idea.createdAt}}
            </span>

            <span ng-if="!!idea.user" class="blog-author">
                <i class="icon-user"></i>
                от <a href="#/users/{{idea.user.id}}">{{idea.user.name + (idea.user.lastName ? ' ' + idea.user.lastName : '')}}</a>
            </span>

            <i class="icon-group" ng-if="idea.teamType" title="Необходима командная разработка" style="margin-left: 10px;cursor: pointer"></i>
        </div>
        <div ng-if="!isUltraShort && !isUltraUltraShort" class="idea-short__idea-description">
            {{isListItem && idea.description.length > 128 ? idea.description.substr(0, 128) + '...' : idea.description}}
        </div>
    </div>
</div>