.idea-short__body {
    overflow: hidden;
}

.ultra-ultra-short.idea-short__body {
    border-bottom: 1px dotted #ddd;
    margin-bottom: 5px;
}

.idea-short__likes__star {
    color: yellow;
    font-size: 60px;
    cursor: pointer;
}

.icon-star-empty.idea-short__likes__star {
    color: rgba(255, 255, 0, 0.60);
}

.ultra-short .idea-short__likes__star,
.ultra-ultra-short .idea-short__likes__star {
    font-size: 50px;
}

.idea-short__likes__star:hover {
    color: rgba(255, 255, 0, 0.60);
}

.icon-star-empty.idea-short__likes__star:hover {
    color: yellow;
}

.idea-short__likes {
    float: left;
    width: 100px;
    height: 100px;
    background: #fff;
    border: 1px solid #ccc;
    margin-right: 10px;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px;
}

.ultra-short .idea-short__likes {
    width: 50px;
    height: 50px;
}

.ultra-ultra-short .idea-short__likes {
    padding: 0;
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

.ultra-short .idea-short__body__title,
.ultra-ultra-short .idea-short__body__title {
    font-size: 12px;
    margin: 15px 0 0 0;
}

.ultra-ultra-short .idea-short__body__title {
    margin: 5px 0 0 0;
}

.ultra-short .idea-short__body__title a,
.ultra-ultra-short .idea-short__body__title a {
    color: inherit;
    font-weight: bold;
    text-decoration: none;
}

.idea-short__likes__count {
    color: green;
    font-family: monospace;
    font-weight: bolder;
    line-height: 40px;
}
