<div>
    <div class="tabbable"> <!-- Only required for left/right tabs -->
        <ul class="nav nav-tabs">
            <li ng-repeat="tab in tabs" ng-class="tab.active ? 'active' : ''">
                <a href="javascript: void 0" ng-click="activateTab(tab)" data-toggle="tab">{{tab.text}}</a>
            </li>
        </ul>
        <div class="tab-content">
            <div ng-repeat="tab in tabs" class="tab-pane" ng-class="tab.active ? 'active' : ''">
                <div ng-show="tab.active">
                    <idea-short ng-repeat="idea in ideas" idea="idea" is-list-item="true" is-ultra-ultra-short="true"></idea-short>
                    <a ng-if="hasMoreIdeas && 'my' === tab.type" href="#/users/{{user.id}}/ideas">Смотреть все ({{user.ideasCount}})</a>
                    <div ng-if="!ideas.length && loaded">Идей нет</div>
                </div>
            </div>
        </div>
    </div>
</div>