<div ng-if="canComment() || idea.comments.length" class="comments clearfix">
    <div ng-if="idea.comments.length">
        <h3>Comments ({{idea.comments.length}})</h3>

        <div ng-repeat="comment in idea.comments" class="comment media">
            <a ng-if="comment.user" href="#/users/{{comment.user.id}}" class="comment-avatar pull-left">
                <img width="50" ng-src="{{comment.user.avatar}}">
            </a>

            <a ng-if="!comment.user" href="javascript: void 0" class="comment-avatar pull-left">
                <img width="50" src="img/samples/people-1.jpg">
            </a>

            <div class="media-body">
                <div class="comment-header">
                    <strong ng-if="!comment.user" class="comment-author">
                        <a href="javascript: void 0">John Doe</a>
                    </strong>
                    <strong ng-if="comment.user" class="comment-author">
                        <a href="#/users/{{comment.user.id}}">
                            {{comment.user.name + (comment.user.lastName ? ' ' + comment.user.lastName : '')}}
                        </a>
                    </strong>
                    <span class="comment-time muted">{{comment.createdAt}}</span>
                </div>

                <div class="comment-content">
                    {{comment.text}}
                </div>
                <a href="javascript: void 0" class="btn btn-mini" ng-if="!replayIsShowed(comment.id) && canComment()" ng-click="showReplay(comment.id)">Ответить</a>
            </div>
            <div ng-if="replayIsShowed(comment.id)" class="comment reply" style="padding-top: 20px;border-top: none;margin-top: 0;">
                <form class="comment-form" name="commentReplayForm">
                    <div class="comment-form-comment">
                        <textarea name="commentReplayText" ng-model="commentReplay.text" class="span8" rows="8" ng-minlength="8" required></textarea>
                    </div>
                    <div class="comment-form-submit">
                        <input class="btn btn-large" type="submit" ng-click="addCommentReplay(comment.id)" value="Написать" ng-disabled="!commentReplayForm.commentReplayText.$valid">
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div ng-if="canComment()" class="comment reply bottom-replay">
        <h3 class="comment-title">Оставить комментарий</h3>

        <form class="comment-form" name="commentForm">
            <div class="comment-form-comment">
                <textarea name="commentText" ng-model="comment.text" class="span8" rows="8" ng-minlength="8" required></textarea>
            </div>
            <div class="comment-form-submit">
                <input class="btn btn-large" type="submit" ng-click="addComment()" value="Написать" ng-disabled="!commentForm.commentText.$valid">
            </div>
        </form>
    </div>
</div>