<div class="blog-single">

    <div class="blog clearfix">
        <idea-short idea="idea"></idea-short>

        <div style="margin-bottom:10px;clear: both">
            <h3 style="margin-top: 20px">Профит</h3>
            <div>{{idea.profit}}</div>
        </div>

        <div style="margin-bottom:10px;clear: both" ng-if="idea.implementationTime">
            <h3 style="margin-top: 20px">Время на реализацию</h3>
            <div>{{implTimeText(idea)}}</div>
        </div>

        <idea-footer idea="idea"></idea-footer>
    </div>

    <idea-comments idea="idea"></idea-comments>
</div>