<div class="widget">
    <h3 class="widget-title">Новые идеи</h3>
    <div class="widget-content clearfix">
        <div class="blog clearfix list-comments list-widget unstyled">
            <idea-short ng-repeat="idea in ideas" idea="idea" is-list-item="true" is-ultra-short="true"></idea-short>
        </div>
    </div>
</div>