<div class="blog container">
    <div class="row">
        <div class="span8">
            <div class="tabbable"> <!-- Only required for left/right tabs -->
                <ul class="nav nav-tabs">
                    <li ng-repeat="tab in tabs" ng-class="tab.active ? 'active' : ''">
                        <a href="javascript: void 0" ng-click="activateTab(tab)" data-toggle="tab">{{tab.text}}</a>
                    </li>
                    <li class="pull-right">
                        <a ng-click="toggleFilter()" href="javascript: void 0" class="btn btn-orange" style="padding-top: 4px;padding-bottom: 4px;border-radius: 4px">
                            Фильтр
                        </a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div ng-repeat="tab in tabs" class="tab-pane" ng-class="tab.active ? 'active' : ''">
                        <div ng-show="isFilterShown">
                            <tags-input placeholder="Теги"
                                        ng-model="filter.tags"
                                        min-length="1"
                                        max-length="24"
                                        max-tags="10"
                                        allow-leftover-text="true"
                                        add-on-space="true"
                                        add-on-comma="true"
                                        allowed-tags-pattern="^[a-zA-Z\d$.\-+#]{1,24}$"
                                        add-from-autocomplete-only="true"
                                        on-tag-added="tagsListChanged($tag)"
                                        on-tag-removed="tagsListChanged($tag)"
                                        class="span8"
                                        style="margin-bottom: 30px;margin-left: 0"
                                    >
                                <auto-complete source="loadTags($query)" min-length="1"></auto-complete>
                            </tags-input>
                        </div>

                        <div ng-show="tab.active" class="blog-list">
                            <div ng-repeat="idea in ideas" class="blog clearfix">
                                <idea-short idea="idea" is-list-item="true"></idea-short>

                                <idea-footer idea="idea" is-list-item="true"></idea-footer>
                            </div><!--/.blog -->

                            <div ng-if="!ideas.length && !loadInProgress">
                                Список идей пуст
                            </div>

                            <div ng-if="hasPrev || hasNext" class="blog-navigation clearfix">
                                <a href="javascript: void 0" ng-click="loadMore('prev')" class="control pull-left" ng-if="hasPrev">
                                    <i class="icon-double-angle-left"></i>
                                    Предудущие</a>
                                <a href="javascript: void 0" ng-click="loadMore('next')" class="control pull-right" ng-if="hasNext">
                                    Следующие
                                    <i class="icon-double-angle-right"></i>
                                </a>
                            </div>
                        </div><!--/.blog-list -->

                    </div>
                </div>
            </div>

        </div>

        <div class="span4">
            <div class="sidebar">
                <popular-tags></popular-tags>

                <latest-comments></latest-comments>
            </div><!--/.sidebar -->
        </div>
    </div>
</div>