<div>
    <ul class="list-comments list-widget unstyled">
        <li ng-repeat="comment in comments">
            <div class="user-comments__comment">
                <div class="muted">{{comment.createdAt}}</div>
                <div class="comment-text">
                    {{comment.text}}
                </div>
                <div class="user-comments__meta">
                    к идее <a href="#/ideas/{{comment.idea.id}}" class="comment-post">{{comment.idea.title.substr(0, 64) + '...'}}</a>
                </div>
            </div>
        </li>
    </ul>

    <div ng-if="!comments.length && loaded">Комментариев нет</div>
</div>